*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
   
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    /* background: linear-gradient(45deg, #08001f, #30197d); */
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.container{
    width: 80%;
    max-width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 29, 255);
    border-radius: 10px;
}



.clock{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.clock span{
    font-size: 50px;
}

/* .wather{
    width: 700px;
    height: 52px;
    background-color: rgb(255, 255, 32);
} */
